name: Build & Test CI
on: [push]

jobs:
  Build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: Run tests
        run: yarn test
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          fetch-depth: 0
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
