name: Build & Test CI
on: [push]

jobs:
  Build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: Run tests
        run: yarn test
